<<<<<<< HEAD
<html lang="en"><head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Scoreboard Hackathon</title>
        <link rel="stylesheet" href="css/projPage.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Booz Allen Hackathon</title>

        <!-- Bootstrap core CSS -->
        <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="signin.css" rel="stylesheet">
  </head>

  <body>
      <nav class="navbar navbar-static-top navbar-light bg-faded">
              <a href="#" class="navbar-brand">Hackathon</a>
              <ul class="nav navbar-nav">
                  <li class="nav-item active">
                        <a class="nav-link" href="projPage.html">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="scoreboard.html">Login</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Config</a>
                  </li>
             </ul>
        </nav>
    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Log in</h2>
        <label for="inputEmail" class="sr-only">User Name</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <a href="projPage.html">Continue as guest</a>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  

</body></html>
=======
<!doctype html>
<html>
    <head>
        <title>Scoreboard</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    
        <body>
            
            <div id="navwrap">
                <nav>
                    <ul>
                        <li>
                            <a href="projPage">Home</a>
                        </li>
                        <li>
                            <a href="index.html">Login</a>
                        </li>
                        <li>
                            <a href="#">Settings</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
            <div id="container">
                <header class="col-md-12">
                    <h1>Scoreboard</h1>
                    <h2>Project 1</h2>
                </header>
                
                <div id="round1" class="round col-md-12">
                    <div class="roundhead">
                        <h2>Round 1</h2>
                    </div> 
                
                    <div class="left col-md-6">
                        <h3>Team A</h3>
                        
                        <div id="scorebox-container">
                            <table>
                                <tr>
                                    <td class="ui">
                                        <a href="ux.html">UX/UI</a>
                                    </td>
                                    <td class="function">
                                        <a href="functionality.html">Function</a>
                                    </td>
                                    <td class="agile">
                                        <a href="agile.html">Agile</a>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td class="devops">
                                        <a href="devops.html">DevOps</a>
                                    </td>
                                    <td class="testing">
                                        <a href="continuousTesting.html">Testing</a>
                                    </td>
                                    <td class="value">
                                        <a href="businessValue.html">Value</a>
                                    </td>
                                </tr>
                            </table>
                        </div> <!-- scorebox container -->
                        <h4>Total Score: 0</h4>
                        
                    </div> <!-- left -->
                    
                    <div class="right col-md-6">
                        <h3>Team B</h3>
                        
                                                <div id="scorebox-container">
                            <table>
                                <tr>
                                    <td class="ui">
                                        <a href="ux.html">UX/UI</a>
                                    </td>
                                  <td class="function">
                                        <a href="functionality.html">Function</a>
                                    </td>
                                    <td class="agile">
                                        <a href="agile.html">Agile</a>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td class="devops">
                                        <a href="devops.html">DevOps</a>
                                    </td>
                                    <td class="testing">
                                        <a href="continuousTesting.html">Testing</a>
                                    </td>
                                    <td class="value">
                                        <a href="businessValue.html">Value</a>
                                    </td>
                                </tr>
                            </table>
                        </div> <!-- scorebox container -->
                        <h4>Total Score: 0</h4>
                        
                    </div>
                </div> <!-- round 1 -->
                
                <div id="round2" class="round col-md-12">
                    <div class="roundhead">
                        <h2>Round 2</h2>
                    </div> 
                
                    <div class="left col-md-6">
                        <h3>Team A</h3>
                        
                            <div id="scorebox-container">
                            <table>
                                <tr>
                                    <td class="ui">
                                        <a href="ux.html">UX/UI</a>
                                    </td>
                                    <td class="function">
                                        <a href="functionality.html">Function</a>
                                    </td>
                                    <td class="agile">
                                        <a href="agile.html">Agile</a>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td class="devops">
                                        <a href="devops.html">DevOps</a>
                                    </td>
                                    <td class="testing">
                                        <a href="continuousTesting.html">Testing</a>
                                    </td>
                                    <td class="value">
                                        <a href="businessValue.html">Value</a>
                                    </td>
                                </tr>
                            </table>
                        </div> <!-- scorebox container -->
                        <h4>Total Score: 0</h4>
                        
                    </div> <!-- left -->
                    
                    <div class="right col-md-6">
                        <h3>Team B</h3>
                        
                                                <div id="scorebox-container">
                            <table>
                                <tr>
                                    <td class="ui">
                                        <a href="ux.html">UX/UI</a>
                                    </td>
                                    <td class="function">
                                        <a href="functionality.html">Function</a>
                                    </td>
                                    <td class="agile">
                                        <a href="agile.html">Agile</a>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td class="devops">
                                        <a href="devops.html">DevOps</a>
                                    </td>
                                    <td class="testing">
                                        <a href="continuousTesting.html">Testing</a>
                                    </td>
                                    <td class="value">
                                        <a href="businessValue.html">Value</a>
                                    </td>
                                </tr>
                            </table>
                        </div> <!-- scorebox container -->
                        <h4>Total Score: 0</h4>
                        
                    </div> <!-- right -->
                </div> <!-- round 2 -->
                
                <div id="round3" class="round col-md-12">
                    <div class="roundhead">
                        <h2>Round 3</h2>
                    </div>
                
                    <div class="left col-md-6">
                        <h3>Team A</h3>
                        
                                                <div id="scorebox-container">
                            <table>
                                <tr>
                                    <td class="ui">
                                        <a href="ux.html">UX/UI</a>
                                    </td>
                                    <td class="function">
                                        <a href="functionality.html">Function</a>
                                    </td>
                                    <td class="agile">
                                        <a href="agile.html">Agile</a>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td class="devops">
                                        <a href="devops.html">DevOps</a>
                                    </td>
                                    <td class="testing">
                                        <a href="continuousTesting.html">Testing</a>
                                    </td>
                                    <td class="value">
                                        <a href="businessValue.html">Value</a>
                                    </td>
                                </tr>
                            </table>
                        </div> <!-- scorebox container -->
                        <h4>Total Score: 0</h4>
                        
                    </div> <!-- left -->
                    
                    <div class="right col-md-6">
                        <h3>Team B</h3>
                        
                                                <div id="scorebox-container">
                            <table>
                                <tr>
                                    <td class="ui">
                                        <a href="ux.html">UX/UI</a>
                                    </td>
                                    <td class="function">
                                        <a href="functionality.html">Function</a>
                                    </td>
                                    <td class="agile">
                                        <a href="agile.html">Agile</a>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td class="devops">
                                        <a href="devops.html">DevOps</a>
                                    </td>
                                    <td class="testing">
                                        <a href="continuousTesting.html">Testing</a>
                                    </td>
                                    <td class="value">
                                        <a href="businessValue.html">Value</a>
                                    </td>
                                </tr>
                            </table>
                        </div> <!-- scorebox container -->
                        <h4>Total Score: 0</h4>
                        
                    </div> <!-- right -->
                </div> <!-- round 3 -->
            </div>
            
        </body>
    
</html>
>>>>>>> cd486de479210fb28f073af437b6b8bc6d33d419
