<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="table.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Scoreboard Hackathon</title>
        <link rel="stylesheet" href="css/projPage.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Scoreboard</title>
    </head>
    
        <body>
             <nav class="navbar navbar-static-top navbar-light bg-faded">
              <a href="/projPage" class="navbar-brand">BAH Hackathon</a>
              <ul class="nav navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="/login">Login</a>
                  </li>
             </ul>
        </nav>
        <div class="jumbotron"><center>
            <div class="container">
                <h1 class="display-3">DevOps Dashboard
                </h1>
            </div></center>
        </div>
            
        <div class="col-md-6">
            <table class="table table-hover" style="border-collapse:collapse;"><center>

                <thead>
                    <tr><th>&nbsp;</th>
                        <th>Round 1</th>
                        <th>Round 2</th>
                        <th>Round 3</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                              <th><button class="btn btn-default btn-xs">Team A</button></th>
                        <td>16</td>
                        <td>12</td>
                        <td>13</td>
                        <td>23</td>

                    </tr>
                    <tr>
                        <td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id="demo1"> 
                          <table class="table table-striped">
                                  <tbody>
                                    <tr><th>UI/UX</th><td><a href="/ux">#</a></td><td><a href="/ux">#</a></td><td><a href="/ux">#</a></td><td><a href="/ux">#</a></td></tr>

                                    <tr><th>Functionality</th><td><a href="/functionality">#</a></td><td><a href="/functionality">#</a></td><td><a href="/functionality">#</a></td><td><a href="/functionality">#</a></td></tr>

                                    <tr><th>Agile</th><td><a href="/Agile">#</a></td><td><a href="/Agile">#</a></td><td><a href="/Agile">#</a></td><td><a href="/Agile">#</a></td></tr>

                                    <tr><th>DevOps</th><td><a href="/devops">#</a></td><td><a href="/devops">#</a></td><td><a href="/devops">#</a></td><td><a href="/devops">#</a></td></tr>

                                    <tr><th>Testing</th><td><a href="/conttesting">#</a></td><td><a href="/conttesting">#</a></td><td><a href="/conttesting">#</a></td><td><a href="/conttesting">#</a></td></tr>

                                    <tr><th>Business Value</th><td><a href="/businessval">#</a></td><td><a href="/businessval">#</a></td><td><a href="/businessval">#</a></td><td><a href="/businessval">#</a></td></tr>
                                  </tbody>
                            </table>

                          </div> </td>
                    </tr>
                    <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                  <th><button class="btn btn-default btn-xs">Team B</button></th>
                        <td>16</td>
                        <td>12</td>
                        <td>13</td>
                        <td>23</td>

                    </tr>
                    <tr>
                        <td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id="demo2"> 
                          <table class="table table-striped">
                                  <tbody>
                                    <tr><th>UI/UX</th><td><a href="/ux">#</a></td><td><a href="/ux">#</a></td><td><a href="/ux">#</a></td><td><a href="/ux">#</a></td></tr>

                                    <tr><th>Functionality</th><td><a href="/functionality">#</a></td><td><a href="/functionality">#</a></td><td><a href="/functionality">#</a></td><td><a href="/functionality">#</a></td></tr>

                                    <tr><th>Agile</th><td><a href="/Agile">#</a></td><td><a href="/Agile">#</a></td><td><a href="/Agile">#</a></td><td><a href="/Agile">#</a></td></tr>

                                    <tr><th>DevOps</th><td><a href="/devops">#</a></td><td><a href="/devops">#</a></td><td><a href="/devops">#</a></td><td><a href="/devops">#</a></td></tr>

                                    <tr><th>Testing</th><td><a href="/conttesting">#</a></td><td><a href="/conttesting">#</a></td><td><a href="/conttesting">#</a></td><td><a href="/conttesting">#</a></td></tr>

                                    <tr><th>Business Value</th><td><a href="/businessval">#</a></td><td><a href="/businessval">#</a></td><td><a href="/businessval">#</a></td><td><a href="/businessval">#</a></td></tr>
                                  </tbody>
                            </table>
                          </div> </td>
                    </tr>
                </tbody></center>
            </table>
        </div>
     </body>
</html>