/**{*/
/*    border: dotted 1px #fff;*/
/*}*/

body{
    color: #efefef;
    background-color:#262626;
    height:100%;
}
/**Scoreboard ****************/

.round{
    width:100%;  /**breaks**/
    height:100%;
    position:absolute;
    clear:both;
   
 
}

.roundhead{
    margin:0 auto;
    

}

.roundhead h2{
    margin: 0 auto;
}


.left{
    left:0;
    position:absolute;
   
}

.right{
    right: 0;
    position:absolute;

}

/**Scorebox**************/

table,tr,td{
	border:#262626;
	
}

td{
	height:150px;
	width:150px;
	
}

td a, td a:visited{
	text-decoration: none;
	color:dimgray;
	padding:30px;
	font-size:150%;
}




td a:hover{
	text-decoration: none;
	color:#333;
	filter:rgba(255,255,255,.6);
	transition:.5s ease;
}



.ui{
	background-color: lightgray;
}

.function{
	background-color: ghostwhite;	
}

.agile{
	background-color: lightgray;
}

.devops{
	background-color:ghostwhite;
}

.testing{
	background-color:lightgray;
}

.value{
	background-color:ghostwhite;
	
}